<md-card class="connection-card">
    <md-card-header>
        <div md-card-avatar>
            <i class="material-icons">library_add</i>
        </div>
        <md-card-title>New Connection</md-card-title>
        <md-card-subtitle>Enter device ip address</md-card-subtitle>
    </md-card-header>
    <!-- Content -->
    <form [formGroup]="connectionForm" (ngSubmit)="connect()">
        <md-card-content>
            <!-- Inputs -->
            <md-input-container class="search">
                <input mdInput placeholder="Address" formControlName="address">
                <md-error *ngIf="connectionForm.get('address').hasError('required')">
                    Address is <strong>required</strong>
                </md-error>
            </md-input-container>
            <md-input-container class="search">
                <input mdInput placeholder="Nick Name" formControlName="name">
            </md-input-container>
            <!-- Past connection auto complete -->
            <br> Past Connections
            <md-chip-list>
                <md-chip *ngFor="let connection of filteredPastConnections" selected="{{historySameAsInput(connection)}}" (select)="historySelected(connection)" (deselect)=historyDeselected(connection)>
                    <span (click)="historySelected(connection)">{{connection.name}} | {{connection.address}}</span>
                    <span (click)="removeHistory(connection)">x</span>
                </md-chip>
            </md-chip-list>
        </md-card-content>
        <!-- Connect -->
        <md-card-actions>
            <button type="submit" md-button>CONNECT</button>
        </md-card-actions>
    </form>
</md-card>